<div class="nav-tabs-custom goods-tabs-custom">
    <ul class="nav nav-tabs">
        <li {if condition="$cur == 'user'"}class="active"{/if}><a href="__MODULE__/Statisti/index">会员统计</a></li>
        <li {if condition="$cur == 'level'"}class="active"{/if}><a href="__MODULE__/Statisti/level">会员等级</a></li>
        <li {if condition="$cur == 'goods'"}class="active"{/if}><a href="__MODULE__/Statisti/goods">商品统计</a></li>
        <li {if condition="$cur == 'business'"}class="active"{/if}><a href="__MODULE__/Statisti/business">商家统计</a></li>
        <li {if condition="$cur == 'order'"}class="active"{/if}><a href="__MODULE__/Statisti/order">订单统计</a></li>
        <!-- <li {if condition="$cur == 'recharg'"}class="active"{/if}><a href="__MODULE__/Statisti/recharg">充值统计</a></li> -->
    </ul>
</div>