<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,
    minimal-ui"/>
    <title>我的余额</title>
</head>
    <link rel="stylesheet" href="/index/index/css/body.css">
    <link rel="stylesheet" href="/index/index/css/myMoney.css">
    <link rel="stylesheet" href="/index/index/css/reward.css">

<body>
<div id='loading'><img src='/index/index/image/loading.png' alt=''></div>
<div id="top"></div>
<div class='header'>
    <div>
        <a href='javascript:;' class='close'></a>
        <h2>我的余额</h2>
    </div>
</div>
<div id='myMoney_container'>
    <div class="balance_content">
        <div class="top" id='myMoney_container_top'>
            <div>
                <div class="balance">
                    <p class="title">可用余额</p>
                    <span class="price"></span>
                    <div class="btn">提现</div>
                    <div class="btn2">转账</div>
                </div>
            </div>
        </div>
        
        <div class="balance_detail" id='myMoney_container_balance_detail' style="height: calc(100% - 135px) !important;">

            <div id='content'>
            <!-- 没有数据时display: block; -->
            <div class="null-data" style="display: none;"></div>
            <div class='order_list'>
                <ul class="message"></ul>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/index/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/index/index/js/layer/layer.min.js"></script>
<script>
    var page = 1;
    var iscroll = 1;
    var is_alipay = '';
    $(function(){
       
        $('.price').text('{$list.money}')

        getMoneylog();
        //滚动到底部
        $('#myMoney_container .balance_detail').scroll(function(){

        　　var scrollTop = $(this).scrollTop();
        　　var scrollHeight = $('.message').height();
        　　var windowHeight = $(this).height();
        　　if( Math.ceil(scrollTop + windowHeight)+10 >= scrollHeight && iscroll == 1){
                //查询下一页数据
                page = page + 1;
                getMoneylog();
        　　}
        });
    })

    function getMoneylog(){
        $.post(serverurl+'/api/app/busmoney',{'page':page,'appkey':'{$list.appkey}','token':token},function(data){
            $("#loading").hide();
            console.log(data);
            if(data.list.length>0){
                iscroll = 1;
                var html = '';
                for(x in data.list){
                    html = html + "<li>\
                                        <div class='message_img'>\
                                            <img src='/index/index/image/icon/3.png' />\
                                        </div>\
                                        <div class='message_text'>\
                                            <h5>"+data.list[x].remark+"[<span style='color:red'>"+data.list[x].money+"</span>]</h5>\
                                            <span>"+data.list[x].create_time+"</span>\
                                        </div>\
                                    </li>"
                }
                $('.message').append(html);

            }else if(page == 1){
               $('.null-data').show();
            }else{
                if(data.info == 'appkey验证失败！'){
                    api.openWin({
                        name: 'login',
                        url: 'login.html',
                    });
                }
            }
        },"json");
    }
</script>
</html>