<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,
    minimal-ui"/>
    <title>修改地址</title>
    <link rel="stylesheet" href="./css/body.css">
    <link rel="stylesheet" href="./css/address.css">
</head>

<body>
<div id='loading'><img src='./image/loading.png' alt=''></div>
<div id="top"></div>
<div class='header'>
    <div>
        <a href='javascript:;' class="close"></a>
        <h2>修改地址</h2>
    </div>
</div>
<div id='AddSite_container'>
    <div class="cash_content">
        
        <div class="cash" id='WithdrawDeposit_form'>
            <div>
                <ul>
                    <li>
                        <span class="notes_left">收货人姓名</span>
                        <input type="text" id='userName'/>
                        <div class="claer"></div>
                    </li>
                    <li class="txz">
                        <span class="notes_left">手机号码</span>
                        <input type="text" id='userPhone'/>
                        <div class="claer"></div>
                    </li>
                    <li class="cityd">
                        <strong class="fr" data-toggle="distpicker">
                            <select></select>
                            <select></select>
                            <select></select>
                        </strong>
                        <div class="claer"></div>
                    </li>
                    <li class="code">
                        <span class="notes_left">详细地址</span>
                        <input type="text" id='userCitys'/>
                        <div class="claer"></div>
                    </li>
                </ul>
                <button type="button" class="sc_btn" id="removeSiteBtn">删除</button>
                <button type="button" class="tj_btn save_btn" id="editSiteBtn">保存</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/layer/layer.min.js"></script>

<script type="text/javascript" src="./js/distpicker.data.js"></script>
<script type="text/javascript" src="./js/distpicker.js"></script>
</body>

<script>
var id = geturldata('id');

$(function(){
    
    //获取收货地址
    $.ajax({
        url:serverurl+'/api/app/address',
        type:'post',
        data:{
            'appkey':localStorage.appkey,
            'token':token,
            'id':id
        },success:function(data){
            $("#loading").hide();

            if(data.list.length>0){
                $('.cash ul li').eq(0).children('input').val(data.list[0].username);
                $('.cash ul li').eq(1).children('input').val(data.list[0].mobile);
                selectNumber(data.list[0].city.split('-')[0],$("select:eq(0)"));
                selectNumber(data.list[0].city.split('-')[1],$("select:eq(1)"));
                selectNumber(data.list[0].city.split('-')[2],$("select:eq(2)"));
                $('.cash ul li').eq(3).children('input').val(data.list[0].address);
            }else if(data.info == 'appkey验证失败！'){
                api.openWin({
                    name: 'login',
                    url: 'login.html',
                });
            }
        }
    })

    //保存修改
    $('#editSiteBtn').click(function(){
        if($('#userName').val()!='' && $('#userPhone').val()!='' && $('#userCitys').val()!=''){
            var city1 = $("select:eq(0) option:checked").text();
            var city2 = $("select:eq(1) option:checked").text();
            var city3 = $("select:eq(2) option:checked").text();
            var city = city1 +'-'+ city2 +'-'+ city3;
            $.ajax({
                url:serverurl+'/api/app/edit_address',
                type:'post',
                data:{
                    'appkey':localStorage.appkey,
                    'token':token,
                    'mobile':$('.cash ul li').eq(1).children('input').val(),
                    'username':$('.cash ul li').eq(0).children('input').val(),
                    'address':$('.cash ul li').eq(3).children('input').val(),
                    'city':city,
                    'id':id
                },success:function(data){
                    if(data.success){
                        api.closeWin();
                    }else{
                        layer.msg(data.info);
                        if(data.info == 'appkey验证失败！'){
                            api.openWin({
                                name: 'login',
                                url: 'login.html',
                            });
                        }
                    }
                }
            })
        }else{
            layer.msg('请完善收货信息')
        }
    })

    //删除收货地址
    $('#removeSiteBtn').click(function(){
        if(confirm("确定删除该收货地址吗？")){
            $.ajax({
                url:serverurl+'/api/app/del_address',
                type:'post',
                data:{
                    'appkey':localStorage.appkey,
                    'token':token,
                    'id':id
                },success:function(data){
                    if(data.success){
                         api.closeWin();
                    }else{
                        layer.msg(data.info);
                        if(data.info == 'appkey验证失败！'){
                            api.openWin({
                                name: 'login',
                                url: 'login.html',
                            });
                        }
                    }
                }
            })
        }

    })

})

function selectNumber(citys,dom){
    var num = citys;   //获取input中输入的数字
    var numbers = dom.find("option"); //获取select下拉框的所有值
    for (var j = 0; j < numbers.length; j++) {
        if ($(numbers[j]).val() == num) {
            $(numbers[j]).attr("selected", "selected");
        }
    }
    dom.change();
}
</script>
</html>
