
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加套餐</title>
    <link href="/public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/static/css/admin.min.css" rel="stylesheet"/>
    <link href="/public/static/css/content.css" rel="stylesheet" />
</head>
<body style="background:#ecf0f5;">
<section class="content">

<div class="box box-solid">
   <form action=" " method="post" id="form">
    <div class="box box-solid getform">
        <div class="box-body">
            <table class="tab-member">
                
                
                <tr>
                    <td class="td-r">套餐名称：</td>
                    <td>
                        <div class="input-group col-xs-12 input-group-sm">
                            <input type="text" autocomplete="off"  class="form-control pinput name" name="name" value="">
                        </div>
                    </td>
                </tr>             
                <tr>
                    <td class="td-r">套餐商品：</td>
                    <td>
                        <div class="input-group col-xs-12 input-group-sm">
                            <input type="text" autocomplete="off"  class="form-control pinput goods" name="goods" value="">
                        </div>
                    </td>
                </tr> 
                <tr>
                    <td class="td-r">最低金额:</td>
                    <td>
                        <div class="input-group col-xs-12 input-group-sm">
                            <input type="text" autocomplete="off"  class="form-control pinput minprice" name="minprice" value="">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="td-r">最高金额:</td>
                    <td>
                        <div class="input-group col-xs-12 input-group-sm">
                            <input type="text" autocomplete="off"  class="form-control pinput maxprice" name="maxprice" value="">
                        </div>
                    </td>
                </tr>


                <tr>
                    <td class="td-r">产品价格:</td>
                    <td>
                        <div class="input-group col-xs-12 input-group-sm">
                            <input type="text" autocomplete="off"  class="form-control pinput goodsprice" name="goodsprice" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-r">返佣金额:</td>
                    <td>
                        <div class="input-group col-xs-12 input-group-sm">
                            <input type="text" autocomplete="off"  class="form-control pinput huitui" name="huitui" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-r">套餐图片：</td>
                    <td>
                        <div class="image-item">
                            <img src="/public/image/image.jpg" height="200px" class="logo" />
                            <input id="file" type="file" class="hide form-control pinput file" name="logo" />
                            <input type="hidden" class="form-control input-sm pinput" name="logo" value="/public/image/image.jpg" />
                        </div>
                    </td>
                </tr>
                {volist name="goods" id="vo"}
                <tr>
                    <td class="td-r">{$vo.name}：</td>
                    <td>
                        <div class="input-group col-xs-12 input-group-sm">
                            <input type="number" class="form-control pinput goodslist" data-id="goods_{$vo.id}" value="">
                            <span class="input-group-addon">件</span>
                        </div>
                    </td>
                </tr>
                {/volist}
            </table>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-primary btn-sm btn-flat" type="submit">添加套餐</button>
    </div>
</form>
</div>
</section>
<script src="/public/static/js/jquery.min.js"></script>

<!-- 弹框插件 -->
<link rel="stylesheet" href="/public/static/css/common.css">
<script src="/public/static/js/common.js"></script>
<script>
   
    //保存修改
    $(function(){
        $("#form").submit(function(){  
            var goodsid = new Array();
            var goodslist = new Array();
            $(".goodslist").each(function(){
                var level_id = $(this).attr('data-id');
                goodsid.push(level_id);
                goodslist.push($(this).val());
            })
            goodsid = goodsid.join(',');
            goodslist = goodslist.join(',');

            var formData = new FormData($("#form")[0]); 
                formData.append("goodsid", goodsid);
                formData.append("goodslist", goodslist);

            bpop.addLoading(true);
            $.ajax({ 
                url: '__MODULE__/Setmeal/add', 
                type: 'POST',
                data: formData, 
                async: false, 
                cache: false, 
                contentType: false, 
                processData: false, 
                success: function (data) { 
                    if (data.success == true) {
                        bpop.tip(data.info, 1, 1);
                    }else{
                        bpop.tip(data.info, 2, 1);
                    }
                }, 
                dataType:'json' 
            });
            return false; 
        }); 
    })
</script>
</body>
</html>