
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家列表</title>
    <link href="/public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/static/css/admin.min.css" rel="stylesheet"/>
    <link href="/public/static/css/content.css" rel="stylesheet" />
    <link href="/public/static/css/page.css" rel="stylesheet" />

</head>
<body style="background:#ecf0f5;">
<section class="content">

<div class="box box-solid">
    <div class="box-body">
        <a href="javascript:;" class="btn btn-sm btn-success btn-flat" onclick="location.reload();"><i class="fa fa-refresh"></i> 刷新</a>
        <a href="javascript:;" class="btn btn-sm btn-warning btn-flat" onclick="add();"><i class="fa fa-plus"></i> 新增商家</a>
        
        <div role="form" class="col-right form-inline form-group-sm">
            <form action="__MODULE__/Business/index">
                <select class="form-control" name="typeid">
                    <option value="">全部商家</option>
                    {volist name="type" id="vo"}
                        <option value="{$vo.id}" {if condition="$typeid == $vo.id"}selected{/if}>{$vo.name}</option>
                    {/volist}           
                </select>
                <input type="text" autocomplete="off"  name="keyword" class="keyword form-control" placeholder="关键词" value="{$keyword}">
                <button type="submit" class="search btn btn-primary btn-sm btn-flat" >搜索</button>
            </form>
        </div>
    </div>
</div>

<div class="box box box-solid">
    <div class="goods-info">
        <span class="block">商家总收入金额：<span class="red">{$total}</span></span>
        <span class="block">商家未提现金额：<span class="red">{$money}</span></span>
    </div>

    <div class="box-body">
        <table id="table" class="table table-bordered table-hover table-striped">
            <tr>
                <th width="30"><input type="checkbox" class="checkbox" value="del" /></th>
                <th width="60" class="sort blue">ID</th>
                <th>套餐库存</th>
                <th>商家图片</th>
                <!-- <th>营业执照</th> -->
                <th>商家名称</th>
                <!-- <th>绑定会员</th> -->
                <th>商家类型</th>
                <!-- <th>商家分类</th> -->
                <th>商家账号</th>
                <!-- <th>收款支付宝</th> -->
                <th width="180">商家地址</th>
                <!-- <th>联系电话</th> -->
                <th>账户余额</th>
                <th>收入总额</th>
                <th>添加时间</th>
                <th width="50">状态</th>
                <th width="125">操作</th>
            </tr>
            {if condition="empty($data)"}
                <tr class="tr odd"><td colspan="13">暂无商家数据～！</td></tr>
            {/if}
            {volist name="data" id="vo"}
            <tr class="tr tr-{$vo.id}" data-id="{$vo.id}">
                <td><input type="checkbox" class="idlist" value="{$vo.id}"></td>
                <td>{$vo.id}</td>
                <td><a href="javascript:;" onclick="setmeal('{$vo.id}');"><button class="btn btn-info btn-sm turn">查看</button></a></td>
                <td><a href="javascript:;" onclick="edit('{$vo.id}');"><img alt="image" src="{$vo.logo}" width="50"></a></td>
                <!-- <td><a href="{$vo.license}" target="_blank"><img alt="image" src="{$vo.license}" width="50"></a></td> -->
                <td><a href="javascript:;" onclick="edit('{$vo.id}');" class="blue">{$vo.name}</a></td>
                <!-- <td>{$vo.nickname}</td> -->
                <td>
                    {if condition="$vo.type == 1"}
                        个体商户
                    {else/}
                        企业商户
                    {/if}
                </td>
                <!-- <td>{$vo.typename}</td> -->
                <td>{$vo.username}</td>
                <!-- <td>{$vo.alipay}</td> -->
                <td>地区：{$vo.city}<br />地址：{$vo.address}</td>
                <!-- <td>{$vo.mobile}</td> -->
                <td><a href="javascript:;" style="color:red;" onclick="dpop.add('80%', '80%', '余额详情', '__MODULE__/Business/money?id={$vo.id}', true, Reload);">￥{$vo.money}</a></td>
                <td><a href="javascript:;" style="color:blue;" onclick="dpop.add('80%', '80%', '余额详情', '__MODULE__/Business/money?id={$vo.id}', true, Reload);">￥{$vo.total}</a></td>
                <td>{$vo.create_time}</td>
                <td>
                    {if condition="$vo.is_state == 1"}
                        <input type="button" value="启用" class="btn btn-xs btn-success state" val="2">
                    {elseif condition="$vo.is_state == 2" /}
                        <input type="button" value="停用" class="btn btn-xs btn-danger state btn-flat" val="1" />
                    {else/}
                        <input type="button" value="待审核" class="btn btn-xs btn-warning state btn-flat" val="1" />
                    {/if}
                </td>
                <td>
                    <div class="tpl-table-black-operation">
                        <a href="javascript:;" onclick="edit('{$vo.id}');">
                            <i class="fa fa-pencil"></i> 编辑
                        </a>
                        <a href="javascript:;" class="tpl-table-black-operation-del" onclick="dataDel('__MODULE__/Business/delete','{$vo.id}',Reload,true)">
                            <i class="fa fa-trash"></i> 删除
                        </a>
                    </div>
                </td>
            </tr>
            {/volist}
        </table>
    </div>
</div>

<div class="footer">
    <a href="javascript:;" class="btn btn-sm btn-danger btn-flat" onclick="dataDel('__MODULE__/Business/delete', false, Reload,true)"><i class="fa fa-trash-o"></i> 删除选中项</a>
    <div class="page">
        <span class="rows" style="padding: 6px 10px;">共 {$list->total()} 条记录</span>
        {$list->render()}
    </div> 
</div>
</section>
<script src="/public/static/js/jquery.min.js"></script>

<!-- 弹框插件 -->
<link rel="stylesheet" href="/public/static/css/common.css">
<script src="/public/static/js/common.js"></script>

<script>
    //修改状态
    $(function(){
        $('#table .state').click(function(event) {
            var _this = $(this);
            var value = parseInt(_this.attr('val'));
            var id = _this.parents('.tr').attr('data-id');
            bpop.addLoading(true);
            $.post('__MODULE__/Business/state', {'id':id,'state':value}, function(data) {
                if (data.success == true) {
                    bpop.clean();
                    if (value == 1) {
                        _this.attr('val', 2);
                        _this.val('启用').removeClass('btn-danger').removeClass('btn-warning').addClass('btn-success');
                    }else {
                        _this.attr('val', 1);
                        _this.val('停用').removeClass('btn-success').addClass('btn-danger');
                    }
                }else{
                    bpop.tip(data.info, 2, 1);
                }
            },'json');
        });
    })

    //修改商家信息
    function edit(id){
        dpop.add('80%', '80%', '修改商家信息', '__MODULE__/Business/edit?id='+id, true, Reload);
    }
    //添加商家
    function add(){
        dpop.add('80%', '80%', '添加商家', '__MODULE__/Business/add', true, Reload);
    }
    function setmeal(id){
        dpop.add('80%', '80%', '查看商家套餐库存', '__MODULE__/Business/setmeal?id='+id, true, Reload);
    }
</script>
</body>
</html>