<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员余额详情列表</title>
    <link href="/public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/static/css/admin.min.css" rel="stylesheet"/>
    <link href="/public/static/css/content.css" rel="stylesheet" />
    <link href="/public/static/css/page.css" rel="stylesheet" />
</head>
<body>
<div class="box box-solid">
    <div class="box-body">
        <a href="javascript:;" class="btn btn-sm btn-success btn-flat" onclick="location.reload();"><i class="fa fa-refresh"></i> 刷新</a>
        <a href="javascript:;" class="btn btn-sm btn-info btn-flat" onclick="dpop.add('60%', '60%', '转账商家', '__MODULE__/Business/money_edit?id={$id}', true, Reload);"><i class="fa fa-plus"></i> 转账商家</a>

        <div role="form" class="col-right form-inline form-group-sm">
            <form action="__MODULE__/Business/money" id="search">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="d4311" onfocus="WdatePicker({startDate:'%y-%M-%D',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm time start_time" name="start_time" type="text" autocomplete="off"  placeholder="开始时间" value="{$start_time}"/>
                </div>
                ~
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="d4312" onfocus="WdatePicker({startDate:'%y-%M-%D',dateFmt:'yyyy-MM-dd'})" class="form-control input-sm time end_time" name="end_time" type="text" autocomplete="off"  placeholder="结束时间" value="{$end_time}"/>
                </div>

                <input type="hidden" name="id" value="{$id}">
                <input type="text" autocomplete="off"  name="keyword" class="keyword form-control" placeholder="关键词" value="{$keyword}">
                <button type="submit" class="search btn btn-primary btn-sm btn-flat" >搜索</button>
            </form>
        </div>
    </div>
</div>
<div class="box box box-solid">
    <div class="goods-info">
        <span class="block">收入总额：<span class="red">{$total}</span></span>
        <span class="block">账户余额：<span class="red">{$money}</span></span>
    </div>

    <div class="box-body">
        <table id="table" class="table table-bordered table-hover table-striped" role="grid">
            <tr>
                <th>余额来源</th>
                <th>来源说明</th>
                <th>金额数量</th>
                <th>来源订单</th>
                <th width="140">时间</th>
            </tr>
            {if condition="empty($data)"}
                <tr class="tr odd"><td colspan="13">暂无余额数据～！</td></tr>
            {/if}
            {volist name="data" id="vo"}
            <tr class="tr tr-{$vo.id}" id="{$vo.id}">
                <td>{$vo.type}</td>
                <td>{$vo.remark}</td>
                <td>{$vo.money}</td>
                <td>{$vo.order_id}</td>
                <td>{$vo.create_time}</td>
            </tr>
            {/volist}
        </table>
    </div>
</div>

<div class="footer">
    <div class="page">
        <span class="rows" style="padding: 6px 10px;">共 {$list->total()} 条记录</span>
        {$list->render()}
    </div> 
</div>
</body>
</html>

<script src="/public/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/plugins/My97DatePicker/WdatePicker.js"></script>

<!-- 弹框插件 -->
<link rel="stylesheet" href="/public/static/css/common.css">
<script src="/public/static/js/common.js"></script>