#Coupon_container{
    position: fixed;
    z-index: 9999;
    display: block;
    width: 100%;
    height:calc(100%);
    overflow: hidden;
    background: #f6f6f6;
    top: 0px;
}


#Coupon_container #header{
    width: 100%;
    height: 50px;
    background: #2b91d4;
    text-align: center;
    color: #fff;
    position: relative;

}
#Coupon_container #header a{
    display: block;
    width: 12px;
    height: 22px;
    background: url(../image/icon/back.png) no-repeat center center / contain;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 25px;
}


#Coupon_container #header h2{
    font-weight: normal;
    line-height: 50px;
}
#Coupon_container #screen {
    overflow: hidden;
    background: #fff;
}
#Coupon_container #screen ul li{
    display: block;
    width: 30%;
    float: left;
    text-align: center;
    padding: 10px 0px;
    color: #666;
    font-size: 4.3vw;
    border-bottom: 2px solid #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#Coupon_container #screen ul li:nth-child(1){
    margin-right: 5%;
}
#Coupon_container #screen ul li:nth-child(2){
    margin-right: 5%;
}

#Coupon_container #content{
    width: 100%;
    height: calc(100% - 100px);
    background: #f6f6f6;
    overflow-y: scroll;
    padding-top: 74px;
}

#Coupon_container #content .cont_in ul{
    margin-top: 10px;
    background: #fff;
    padding: 0 20px 15px;
    box-sizing: border-box;
}
#Coupon_container #content .cont_in ul h4{
    font-size: 17px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid;
}
#Coupon_container #content .cont_in ul h4.ptq{
    border-color: #2b91d4;
    color: #2b91d4;
}
#Coupon_container #content .cont_in ul h4.dpq{
    border-color: #ea5413;
    color: #ea5413;
}
#Coupon_container #content .cont_in ul li{
    margin-top: 10px;
    width: 100%;
    height: 82px;
    border: 1px solid;
    border-radius: 3px;
    position: relative;
}
#Coupon_container #content .cont_in ul.pt li{
    border-color: #33c0ff;
}
#Coupon_container #content .cont_in ul.dp li{
    border-color: #ee7642;
}
#Coupon_container #content .cont_in ul li samp{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    background: #fff;
    right: 96px;
}
#Coupon_container #content .cont_in ul.pt li samp.d_bottom{
    bottom: -7px;
    border-top: 1px solid #33c0ff;
}
#Coupon_container #content .cont_in ul.pt li samp.d_top{
    top: -7px;
    border-bottom: 1px solid #33c0ff;
}
#Coupon_container #content .cont_in ul.dp li samp.d_bottom{
    bottom: -7px;
    border-top: 1px solid #ee7642;
}
#Coupon_container #content .cont_in ul.dp li samp.d_top{
    top: -7px;
    border-bottom: 1px solid #ee7642;
}
#Coupon_container #content .full_out{
    width: 100px;
    height: 100%;
    border-left: 1px dashed;
    float: right;
}
#Coupon_container #content .pt .full_out{
    border-color: #33c0ff;
}
#Coupon_container #content .dp .full_out{
    border-color: #ee7642;
}
#Coupon_container #content .full{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: relative;
    background: #2b91d4;
    margin: 5px;
    border-radius: 3px;
}
#Coupon_container #content .pt .full{
    background: #33aee8;
} 
.dp .full{
    background: #ea5413 !important;
} 
.cont_in ul li .d_left{
    position: absolute;
    top: calc(50% - 5px);
    left: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-right: 10px;
    background: #fff;
}
#Coupon_container #content .cont_in ul li .d_right{
    position: absolute;
    top: calc(50% - 5px);
    right: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
}
#Coupon_container #content .full p{
    color: #fff;
    text-align: center;
}
#Coupon_container #content .full p.price{
    font-size: 20px;
    padding-top: 14px;
}

.full p.my{
    font-size: 12px;
}
.state2 *,.state3 *{
    border-color: #ccc !important;
    color: #ccc !important; 
}

.state2 .full,.state3 .full{
    background: #ccc !important;
}
.state2 .full p,.state3 .full p{
    color: #fff !important; 
}

#Coupon_container #content .sy_btn_fales{
    height: 64px;
    width: 100%;
}
#Coupon_container #content .sy_btn_out{
    width: 100%;
    height: 64px;
    background: #f6f6f6;
    position: fixed;
    bottom: 0px;
    z-index: 2;
}
#Coupon_container #content .sy_btn{
    width: calc(100% - 20px);
    height: 44px;
    line-height: 44px;
    background: #33aee8;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin:  10px;
    border-radius: 5px;
}
#Coupon_container #content .checkBox{
    width: 40px;
    height: 100%;
    float: left;
}
#Coupon_container #content .rdo{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 31px auto;
    left: 10px;
    border: 1px solid #fff ;
    outline: none;

}
#Coupon_container #content .rdo:before,.rdo:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    transition: .3s ease;
}
#Coupon_container #content .rdo:before {
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: #fff;
}
#Coupon_container #content .pt .rdo:before{
    border: 1px solid #2b91d4;
}
#Coupon_container #content .dp .rdo:before{
    border: 1px solid #ea5413;
}
#Coupon_container #content .rdo:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: #fff; 
}
#Coupon_container #content .pt .rdo:checked:after {
    top: 0px;
    left: 0px;
    width:20px;
    height:20px;
    background:url('../image/icon/checkbox_blue.png') center center / cover; 
}
#Coupon_container #content .dp .rdo:checked:after {
    top: 0px;
    left: 0px;
    width:20px;
    height:20px;
    background:url('../image/icon/checkbox_orange.png') center center / cover; 
}
#Coupon_container #content .pt .rdo:checked:after{
    border: none;
}
#Coupon_container #content .pt .rdo:checked:before {
    border-color:#2b91d4; 
}
#Coupon_container #content .dp .rdo:checked:after{
    border: none;
}
#Coupon_container #content .dp .rdo:checked:before {
    border-color:#ea5413; 
}
#Coupon_container #content .notes{
    // width: calc(100% - 141px);
    float: left;
    left: 40px;
    position: absolute;
    z-index: 1;
    top: 10px;
}
#Coupon_container #content .notes h3{
    font-size:  16px;
    line-height: 36px;
    color: #333;
    font-weight: 400;
    // text-align: center;
}
#Coupon_container #content .dp .notes h3{
    line-height: 30px;
}
#Coupon_container #content .notes h2{
    font-size: 16px;
    line-height: 18px;
    color: #666;
    font-weight: 400;
}
#Coupon_container #content .notes p{
    font-size: 12px;
    color: #666;
    transform:scale(.8) translateX(-12%);
}

#Coupon_container #content .cont_in.no ul li,.no .full_out,.cont_in.no ul li samp{
    color: #c9c9c9 !important;
    border-color: #c9c9c9 !important;
}
#Coupon_container #content .no .notes h3,.no .notes p{
    color: #999 !important;
}
#Coupon_container #content .no .full{
    background: #bbb !important;
}
#Coupon_container #content .xpired{
    width: 110px;
    height: 84px;
    position: absolute;
    top: 0;
    left: -10px;
    background: url(../image/icon/Expired.png) center center/cover;
    z-index: 3;
}
#Coupon_container #content .already_used{
    width: 110px;
    height: 84px;
    position: absolute;
    top: 0;
    left: -10px;
    background: url(../image/icon/Already-used.png) center center/cover;
    z-index: 3;
}