*{
    font-family: '微软雅黑'
}
#goodsDetails_container{
    position: fixed;
    z-index: 99999;
    display: block;
    width: 100%;
    height:calc(100%);
    background: #f6f6f6;
    overflow-y: scroll;
}


#header{
    width: 100%;
    height:73px;
    text-align: center;
    color: #fff;
    position: fixed;
    z-index: 999999;

}
#header span{
    display: block;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
.swiper-container{
    width:100% !important;
    height: 100% !important;
}
.swiper-pagination-fraction{
    width: 10% !important;
    left:85% !important;
}

#header a{
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 15px;
    bottom: 10%;
    z-index: 3;
    background: none !important;

}
#header a strong:nth-child(1){
    display: block;
    width:100%;
    height: 100%;
    background: url(../image/icon/back.png) no-repeat center center;
    background-size: 20%;
    position: absolute;
     z-index: 3;
    filter: invert( number or percent );
    font-size: 25px;
}
#header a strong:nth-child(2){
    content: '';
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background-color:rgba(0,0,0,.45);
    z-index: 2;
    /* opacity: 0; */
}


#header h2{
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    bottom: 10%;
     z-index: 3;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 25px;
    opacity: 0;
    border:1px solid #ededed;
}

#header b{
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 60px;
    bottom: 10%;
    z-index: 3;

}
#header b strong:nth-child(1){
    display: block;
    width:100%;
    height: 100%;
    background: url(../image/icon/Shopping-Cart-.png) no-repeat center center;
    filter: invert( number or percent );
    background-size: 40%;
    position: absolute;
     z-index: 3;
    font-size: 25px;
}
#header b strong:nth-child(2){
    content: '';
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background-color:rgba(0,0,0,.45);
    z-index: 2;
    /* opacity: 0; */
}

#header i{
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    right:10px;
    bottom: 10%;
    z-index: 3;
}
#header i strong:nth-child(1){
    display: block;
    width:100%;
    height: 100%;
    background: url(../image/icon/share.png) no-repeat center center / 60%;

    position: absolute;
     z-index: 3;
    font-size: 25px;
}
#header i strong:nth-child(2){
    content: '';
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background-color:rgba(0,0,0,.45);
    z-index: 2;
    /* opacity: 0; */
}

#banner{
    width: 100%;
    height: 353px;
    position: absolute;
    z-index: 1;
}

.swiper-pagination-fraction {
    position: absolute;
    bottom: 15px;
    left: auto;
    display: block;
    width:43px;
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    color: #ededed;
    background:rgba(0,0,0,.2);
    border-radius: 12px;
    right: 15px;
}

#screen {
    overflow: hidden;
    background: #f6f6f6;
    position:fixed;
    z-index: 3;
    top:73px;
    display: block;
    width: 100%;
    opacity: 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
#screen ul li{
    display: block;
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 10px 0px;
    color: #666;
    font-size: 15px;
}
#screen ul li span{
    display: block;
    width: 100%;
    height: 100%;
    border-right: 1px solid #e4e7ec;
}

.select_screen_price{
    background: url('../image/icon/screen_location.png') no-repeat 25% center !important;
    background-size:9% !important;
    color:#2b91d4 !important;
}

.goods_bottom_function{
    width: 100%;
    height: 51px;
    position: fixed;
    z-index: 99999;
    bottom: 0px;
    left: 0px;
    background: #fff;
}
.goods_bottom_function ul{
    display: block;
    float: left;
    width: 44%;
    height: 100%;
}
.goods_bottom_function ul li{
    display: block;
    float: left;
    width: 33.33%;
    height: 100%;
    line-height: 80px;
    font-size: 13px;
    color: #666;
    text-align: center;
}
.goods_bottom_function ul li:nth-child(1){
    background: url(../image/icon/shop.png) no-repeat center 30%;
    background-size:40%;
}
.goods_bottom_function ul li:nth-child(2){
    background: url(../image/icon/Customer-service-.png) no-repeat center 30%;
    background-size:40%;
}
.goods_bottom_function ul li:nth-child(2) a{
    color: #666;
    display: block;
}
.goods_bottom_function ul li:nth-child(3){

}
.Collection-n{
    background: url(../image/icon/Collection-.png) no-repeat center 30%;
    background-size:40%;
}
.Collection-y{
    background: url(../image/icon/Collection-r.png) no-repeat center 30%;
    background-size:40%;
    color: #e4a14a !important;
}

.goods_bottom_function button{
    display: block;
    height: 100%;
    float: left;
    width: 28%;
    border: none;
    color: #fff;
    font-size: 4.2vw;
}
.goods_bottom_function button:nth-child(2){
    background: #feb300;
}
.goods_bottom_function button:nth-child(3){
    background: #fe5c00;
}



#goodsDetails_container #content{
    width: 100%;
    position: absolute;
    top:300px;
    background: #f6f6f6;
    /*overflow: hidden;*/
    margin-bottom:51px;

}
#goodsDetails_container #content .goods_parameter{
    width: 96%;
    height: 97px;
    background: #fff;
    padding: 10px 2%;
    margin-bottom: 10px;
    position: relative;
}
.userPonit{
    display: block;
    font-size: 13px !important;
     margin-left: 5px;
     background: #f83737;
    color: #fff;
    padding: 2px 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}
#goodsDetails_container #content .goods_parameter h4{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    font-weight: normal;
    font-size: 18px;
    padding: 0px 5px;
}

#goodsDetails_container #content .goods_parameter b{
    font-weight: normal;
    font-size: 22px;
    color: #fe0000;
    position: absolute;
    bottom: 0px;
}
#goodsDetails_container #content .goods_parameter strong{
    color: #bbbbbb;
    font-style: normal;
    font-size: 13px;
    margin-left: 10px;
    position: absolute;
    bottom: 5px;
    left: 38%;
}
#goodsDetails_container #content .goods_parameter i{
    color: #bbbbbb;
    font-style: normal;
    font-size: 13px;
    text-decoration:line-through;
    position: absolute;
    bottom: 5px;
    left:50%;
}

#goodsDetails_container #content .goods_parameter span{
    float: right;
    color: #bbbbbb;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 7px;
    position: absolute;
    bottom: 5px;
    right:2%;
}

#goodsDetails_container #content .goods_spec_container p{
    display: block;
    width: 40%;
    float: left;
    height: 100%;
    line-height: 45px;
    margin-left: 5%;
    font-size:4vw;
}
#goodsDetails_container #content .goods_spec_container span{
    display: block;
    width: 40%;
    float: right;
    height: 100%;
    line-height: 45px;
    font-size:3.7vw;
    color: #999;
    text-align: right;
    padding-right: 20px;
}

#goodsDetails_container #content .commitment{
    width: 100%;
    height: 55px;
    background: #fff;

}
#goodsDetails_container #content .commitment i{
    display: block;
    float: left;
    width: 20.33%;
    padding-left: 13%;
    height: 55px;
    font-size: 3.5vw;
    line-height: 55px;
    font-style: normal;
    text-align: center;
    color: #666;
}
#goodsDetails_container #content .commitment i:nth-child(1){
    /*line-height:25px !important;*/
    background: url('../image/icon/QA.png') no-repeat 7vw center;
    background-size: 22%;
}
#goodsDetails_container #content .commitment i:nth-child(2){

    background: url('../image/icon/Deliver-goods-.png') no-repeat 7vw center;
    background-size: 22%;
}
#goodsDetails_container #content .commitment i:nth-child(2) span{
    line-height:15px !important;
    display: block;
    clear: both;
}
#goodsDetails_container #content .commitment i:nth-child(2) span:nth-child(1){
    margin-top:15px;
}
#goodsDetails_container #content .commitment i:nth-child(3){
    /*line-height:25px !important;*/
    background: url('../image/icon/PICC.png') no-repeat 7vw center;
    background-size: 22%;
}
#goodsDetails_container #content div > h2{
    display: block;
    width: 100%;
    font-size: 3.9vw;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #999;
    font-weight: normal;

    position: relative;
}
#goodsDetails_container #content .title_evaluate{
    background: url('../image/icon/evaluate-.png') no-repeat 43% center;
    background-size: 4%;
}
#goodsDetails_container #content .title_details{
    background: url('../image/icon/details-.png') no-repeat 43% center / 4%;
}
#goodsDetails_container #content div > h2:before{
    content: '';
    display: block;
    position: absolute;
    width: 47px;
    height: 1px;
    background: #bbbbbb;
    left: 23%;
    top: 50%;
}
#goodsDetails_container #content div > h2:after{
    content: '';
    display: block;
    position: absolute;
    width: 47px;
    height: 1px;
    background: #bbbbbb;
    right: 29%;
    top: 50%;
}

#goodsDetails_container #content .evaluate{
    width: 94%;
    padding:15px 3% 65px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

#goodsDetails_container #content .evaluate h3{
    font-weight: normal;
    color: #666;
    font-size: 4.5vw;
    line-height: 45px;
}
#goodsDetails_container #content .evaluate ul li{
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ededed;
}
#goodsDetails_container #content .evaluate ul li em{
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
#goodsDetails_container #content .evaluate ul li i{
    float: left;
    color: #333;
    font-size: 4.2vw;
    line-height: 30px;
    margin-left: 5px;
}
#goodsDetails_container #content .evaluate ul li b{
    float: right;
    font-weight: normal;
    color: #ccc;
    font-size: 4vw;
    line-height: 30px;
}
#goodsDetails_container #content .evaluate ul li p{
    clear: both;
    font-size: 4.2vw;
    line-height: 27px;
}
#goodsDetails_container #content .evaluate button{
    width: 117px;
    height: 28px;
    box-sizing:border-box;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #fb834b;
    color: #fb834b;
    position: absolute;
    left: 50%;
    bottom: 5px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

#goodsDetails_container #content .goods_img_container{
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding-bottom: 50px;
}
#goodsDetails_container #content .goods_img_container p{
    display: block;
    width: 100%;
    overflow: hidden;
}

#goodsDetails_container #content .goods_img_container img{
    width: 100%;
    height: auto;
    margin-top:-5px;
}





.specShow{
    margin-bottom: 0px !important;
    opacity: 1 !important;
}
.specHide{
    margin-bottom:-200% !important;

}
#specBox #goods_spec_content{
    width: 100%;
    background: #fff;
    position:absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #ededed;
    box-sizing: border-box;
    padding: 3% 3% 0%;
    max-height:80%;
    /*overflow-y: scroll;*/
    padding-bottom: 50px;


}
#specUl {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}
#specBox #goods_spec_content img{
    width: 30%;
    transform:translateY(-20%);
    border-radius: 10px;
    border: 1px solid #ededed;
    float: left;
    box-sizing: border-box;
}

#specBox #goods_spec_content #goods_spec_close{
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border:1px solid #bfbfbf;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background: url('../image/icon/close.png') no-repeat center center / 50%;
}
#specBox #goods_spec_content h1{
    color: #ea5514;
    font-weight: normal;
    font-size: 4.4vw;
    display: block;
    width:62%;
    float: left;
    margin-left: 3%;
    font-weight: bold;
    line-height: 30px;
}
#specBox #goods_spec_content h2{
    color: #666;
    font-weight: normal;
    font-size: 3.7vw;
    display: block;
    width:61%;
    float: left;
    margin-left: 4%;
    line-height: 30px;
}
#specBox #goods_spec_content h3{
    color: #666;
    font-weight: normal;
    font-size: 3.7vw;
    display: block;
    width:61%;
    float: left;
    margin-left: 4%;
    line-height: 30px;
}
#specBox #goods_spec_content h4{
    text-align: left;
    color: #333;
    font-weight: normal;
    font-size: 13px;
    clear:both;
    line-height: 35px;
}
#specBox #goods_spec_content ul li{
    float: left;
    padding: 6px 17px;
    background: #ededed;
    color: #333;
    font-weight: normal;
    font-size: 12px;
    margin-right: 5%;
    margin-bottom: 3%;
    border-radius: 20px;
}
.specList_active{
    background: #fe5c00 !important;
    color: #fff !important;
}

#specBox #goods_spec_content #btnBefore > button{

}
#specBox #goods_spec_content #goods_spec_addCart{
    border: none;
    display: block;
    width: 50%;
    float: left;
    height: 40px;
    color: #fff;
    margin-top: 15px;
    font-size: 3.8vw;
    position: absolute;
    background: #feb300;
    bottom: 0px;
    left: 0px;
}
#specBox #goods_spec_content #goods_spec_confirm{
    border: none;
    display: block;
    width: 50%;
    float: left;
    height: 40px;
    color: #fff;
    margin-top: 15px;
    font-size: 3.8vw;
    position: absolute;
    background: #fe5c00;
    bottom: 0px;
    right: 0px;
}
#specBox #goods_spec_content #addCart_spec_confirm_btn{
    border: none;
    display: block;
    width:90%;
    height: 40px;
    color: #fff;
    margin-top: 15px;
    font-size: 3.8vw;
    position: absolute;
    background: #fe5c00;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 20px;
}
#specBox #goods_spec_content #confirm_spec_confirm_btn{
    border: none;
    display: block;
    width: 90%;
    height: 40px;
    color: #fff;
    margin-top: 15px;
    font-size: 3.8vw;
    position: absolute;
    background: #fe5c00;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 20px;
}


#spec_shadow{
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
}



.goods_num_container{
    height: 45px;
    width: 100%;
    background: #fff;
    clear: both;
    position: relative;
}

 .goods_spec_container{
    height: 45px;
    width: 100%;
    background: #fff;
    clear: both;
    position: relative;
    border-bottom: 1px solid #ededed;
}

 .goods_num_container p{
    display: block;
    width: 40%;
    float: left;
    height: 100%;
    line-height: 45px;
    margin-left: 2%;
    text-align: left;
    font-size:4vw;
}
 .goods_num{
    display: block;
    float: right;
    width: 90px;
    height: 25px;
    position: absolute;
    top: 46%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3%;
}
 .goods_num button{
    float: left;
    width: 30px;
    height: 30px;
    background: #fff;
    border:1px solid #ccc;
    font-size: 20px;
    line-height: 30px;
}
 .goods_num b{
    display: block;
    text-align: center;
    line-height: 30px;
    float: left;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #f4f4f4;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
    color: #666;
    font-weight: normal;
}
#goodsDetails_container #content .goods_parameter h5 {
    float: right;
    color: #bbbbbb;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 7px;
    position: absolute;
    bottom: 30px;
    right: 2%;
}
