
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加会员</title>
    <link href="/public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/static/css/admin.min.css" rel="stylesheet"/>
    <link href="/public/static/css/content.css" rel="stylesheet" />

</head>
<body style="background:#ecf0f5;">
<section class="content">


<div class="box box-solid">
   <form action=" " method="post" id="form">
    <div class="box box-solid getform">
        <div class="box-body">
            <table class="tab-member">
                <tr class="tr-th">
                    <th colspan="2"><span class="th-text">添加文章</span></th>
                </tr>
                <tr class="rtd">
                    <td class="td-r">文章栏目：</td>
                    <td>
                        <select type="select" class="form-control pinput input-sm typeid" name="typeid">
                            <option value="">==文章栏目==</option>
                            {volist name="type" id="vo"}
                            <option value="{$vo['id']}">{$vo['name']}</option>
                            {/volist}
                        </select>
                    </td>
                </tr>
                <tr class="rtd">
                    <td class="td-r">文章标题：</td>
                    <td>
                        <input type="text" autocomplete="off"  class="form-control input-sm pinput title" name="title" placeholder="文章标题，100字以内" maxlength="100" datatype="1,100" rule="length" errorms="文章请在1~100个字符以内" />
                        <span class="help-block">文章标题，100字以内</span>
                    </td>
                </tr>
                <tr class="rtd">
                    <td class="td-r">文章作者：</td>
                    <td>
                        <input type="text" autocomplete="off"  class="form-control input-sm pinput author" name="author" placeholder="文章作者" maxlength="100" datatype="0,100" rule="length" errorms="作者名称请在100个字符以内！" value="" />
                    </td>
                </tr>

                <tr>
                    <td class="td-r">文章封面：</td>
                    <td>
                        <div class="image-item">
                            <img src="/public/image/image.jpg" height="200px" class="logo" />
                            <input id="file" type="file" class="hide form-control pinput file" name="logo" />
                            <input type="hidden" class="form-control input-sm pinput" name="logo" value="/public/image/image.jpg" />
                        </div>
                    </td>
                </tr>
                <tr class="rtd">
                    <td class="td-r">排序ID：</td>
                    <td>
                        <input type="text" autocomplete="off"  class="form-control input-sm pinput sort" name="sort" placeholder="排序ID，越小排在越前面" maxlength="5" datatype="0,5" rule="length" errorms="请填写正确的排序ID" value="" />
                        <span class="help-block">排序ID，越小排在越前面</span>
                    </td>
                </tr>
                
                <tr class="rtd">
                    <td class="td-r">外链地址：</td>
                    <td>
                        <input type="text" autocomplete="off"  class="form-control input-sm pinput url" name="url" placeholder="如需跳转，请填写完整的外链地址" />
                    </td>
                </tr>
                <tr class="rtd">
                    <td class="td-r">文章描述：</td>
                    <td>
                        <textarea type="textarea" class="form-control pinput remark" name="remark"></textarea>
                    </td>
                </tr>
                <tr class="rtd">
                    <td class="td-r">文章关键词：</td>
                    <td>
                        <input type="text" autocomplete="off"  class="form-control input-sm pinput keyword" name="keyword" placeholder="页面关键词，每个词用,逗号隔开" />
                    </td>
                </tr>
                <tr class="rtd">
                    <td class="td-r">文章状态：</td>
                    <td colspan="3">
                        <div class="checkbox i-checks">
                            <label class="">
                                <div class="icheckbox_square-green">
                                    <input type="radio" value="1" name="is_state" class="is_state pinput hide" checked>
                                </div> 
                                <i></i> 发布
                            </label>
                            <label class="">
                                <div class="icheckbox_square-green">
                                    <input type="radio" value="2" name="is_state" class="is_state pinput hide">
                                </div> 
                                <i></i> 不发布
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="rtd">
                    <td class="td-r">详细内容：</td>
                    <td>
                        <input type="hidden" class="content" name="content" value="">
                        <script id="content" name="content" type="text/plain" style="width:100%;height:600px;"></script>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-primary btn-sm btn-flat" type="submit">添加文章</button>
    </div>
</form>
</div>
</section>
<script src="/public/static/js/jquery.min.js"></script>
<!-- 选项框插件 -->
<link href="/public/plugins/iCheck/custom.css" rel="stylesheet">
<script src="/public/plugins/iCheck/icheck.min.js"></script>
<!-- 弹框插件 -->
<link rel="stylesheet" href="/public/static/css/common.css">
<script src="/public/static/js/common.js"></script>

<script src="/public/plugins/ueditor/ueditor.config.js"></script>
<script src="/public/plugins/ueditor/ueditor.all.js"></script>
<script src="/public/plugins/ueditor/ueditor.parse.js"></script>
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>
<script>
    window.UEDITOR_CONFIG.serverUrl = '__MODULE__'+window.UEDITOR_CONFIG.serverUrl;
    //保存修改
    $(function(){
        UE.getEditor('content', {
            toolbars: [
                 ['fullscreen', 'source', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'backcolor', 'fontsize', 'fontfamily', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', 'link', 'unlink', 'emotion', 'simpleupload', 'insertimage','insertvideo', 'help']
            ]
        });

        $("#form").submit(function(){  
            // 验证用户输入数据
            var title = $(".title").val();    
            if(title.length<1){
                bpop.tip('请输入文章标题！', 2, 1);return false;
            }
            var content = UE.getEditor('content').getContent();
            $(".content").val(content);
            var formData = new FormData($("#form")[0]); 
            bpop.addLoading(true);
            $.ajax({ 
                url: '__MODULE__/Article/add', 
                type: 'POST',
                data: formData, 
                async: false, 
                cache: false, 
                contentType: false, 
                processData: false, 
                success: function (data) { 
                    if (data.success == true) {
                        bpop.tip(data.info, 1, 1);
                    }else{
                        bpop.tip(data.info, 2, 1);
                    }
                }, 
                dataType:'json' 
            });
            return false; 
        }); 
    })
</script>
</body>
</html>