<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值记录</title>
    <link href="/public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/static/css/admin.min.css" rel="stylesheet"/>
    <link href="/public/static/css/content.css" rel="stylesheet" />
</head>
<body>
<div class="box box box-solid">
    <div class="box-body">
        <table id="table" class="table table-bordered table-hover table-striped" role="grid">
            <tr>
                <th>充值订单</th>
                <th>充值手机</th>
                <th>充值金额</th>
                <th width="140">充值时间</th>
            </tr>
            {if condition="empty($list)"}
                <tr class="tr odd"><td colspan="13">暂无充值记录～！</td></tr>
            {/if}
            {volist name="list" id="vo"}
            <tr class="tr tr-{$vo.id}" id="{$vo.id}">
                <td>{$vo.order_id}</td>
                <td>{$vo.mobile}</td>
                <td>{$vo.money}</td>
                <td>{$vo.create_time}</td>
            </tr>
            {/volist}
        </table>
    </div>
</div>

</body>
</html>