<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>欢迎界面</title>
    
    <link href="/public/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/static/css/style.min.css" rel="stylesheet">

</head>
<body class="gray-bg">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>温馨提示 </h5>
                    <div class="ibox-tools">
                        <a class='glyphicon-refresh glyphicon' data-toggle="modal" data-target="#myModal" onclick="location.reload()"></a> 
                    </div>
                </div>
                <div class="ibox-content">
                    <br>如果您有什么问题，可以联系管理员。
                </div>
            </div>

            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>具有以下特点</h5>
                    </div>
                    <div class="ibox-content">
                        <ol>
                            <li>支持多种布局方式 使用最流行的的扁平化设计</li>
                            <li>提供了诸多的UI组件</li>
                            <li>提供盒型、全宽、响应式视图模式</li>
                            <li>采用HTML5 &amp; CSS3</li>
                            <li>拥有良好的代码结构</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-institution"></i> 公司：
                            <a >广州南领商贸有限公司</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 座机：
                            <a href="javascript:;">31528513</a>
                        </p>
                        <p><i class="fa fa-paper-plane"></i> 地址：
                            <a href="javascript:;" class="支付宝信息">白云区钟落潭镇广从七路459号2楼G010
</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

   
</body>
</html>