<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,
    minimal-ui"/>
	<title>修改密码</title>
</head>
<link rel="stylesheet" href="/public/skin/css/personal_modify.css">
<link rel="stylesheet" href="/public/skin/css/body.css">
<script src="/public/skin/js/jquery.js"></script>
<script src="/public/skin/js/isLogin.js"></script>

<body>
<div id="worry"></div>
<div id='editSite_container'>
	<div class="cash_content">
		<div class="top" id='WithdrawDeposit_top'>
			<div>
	    		<div class="head">
					<a href='javascript:;' class="back" ></a>
					<h2>修改密码</h2>
				</div>
	    	</div>
		</div>
		<div class="cash" id='WithdrawDeposit_form'>
			<div class="box_h">
				<div class="notes_left">
					<span class="notes">原密码 :</span>
					<input type="password" name="password"  id="password" tabindex="1" size="15"/>
					<div class="claer"></div>
				</div>

				<div class="notes_left">
					<span class="notes">新密码 :</span>
					<input type="password" name="newpassword" id="newpassword" tabindex="1" size="15" />
					<div class="claer"></div>
				</div>
			</div>
		</div>
			<!-- personal.html -->
		<button type="button" class="tj_btn">保存</button>
	</div>
</div>
</body>
</html>
<script type="text/javascript">
localStorage.appkey = '{$user.appkey}';
apiready = function() {
	function Dift(){
		$(function(){

			$('.back').on('touchstart',function(){
				api.closeWin()
			})

		$(".tj_btn").click(function(){

			var num = $('#password').val().length;
			var bum = $('#newpassword').val().length;

			if($('#password').val() =='' &&  $('#newpassword').val() == ''){
				alertFade('密码不能为空!');
			}else if($('#password').val() == $('#newpassword').val()){
				alertFade('修改密码不能与原密码相同');
			}else{
				if(num <= 5 && bum <= 5){
					alertFade('密码长度需大于或等于6位');
					return false;
				}else{
					$.ajax({
						type:'POST',
						dataType:'json',
						url:serverurl+'/api/app/modify',
						data:{
							'appkey':localStorage.appkey,
							'token':localStorage.token,
							'password':$('#password').val(),
							'newpassword':$('#newpassword').val(),
							},
							success:function(data){
								if(data.success){
									alertFade('修改密码成功！',function(){
										location.href='{:url("Login/logout")}'
									});
								}else{
									alertFade(data.info);
									return false;
								}
							}
					})
				}

			}


		})
		})
	}
	Dift();
}

</script>
